<!-- section/featured-blog-->


{% assign s = section.settings %}
{% capture class %}section_{{section.id}}{{template.handle}}{% endcapture %}

{% assign itmCSSs = '' %}
{% assign itmJSs = '' %}
{% assign custom = s.custom_html | raw %}
{% assign classCSS = class | prepend: '.' %}
{% assign cssLoop = custom | replace: '==', classCSS | replace: ';', ' !important;' %}

<div class="featured-blog {{class}}">
	<div class="page-width">
		{% if section.settings.title != blank %}
			<header class="section-title">
				<h2>{{ section.settings.title | escape }}</h2>
			</header>
		{% endif %}

		{%- assign blog = blogs[section.settings.blog] -%}

		{% unless blog.articles_count == 0 %}
			<div class="grid vert-top grid--blog">
				{% for article in blog.articles limit: section.settings.post_limit %}
					<div class="grid__item medium-up--one-third">
						{% include 'article-item', hide_excerpt: true, btn_type: 'link' %}
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="grid grid--blog">
				{% for i in (1..section.settings.post_limit) %}
					<div class="grid__item medium-up--one-third">
						<div class="article__grid-meta">
							<h3 class="article__title">
								<a href="#">{{ 'homepage.onboarding.blog_title' | t }}</a>
							</h3>

							{% if section.settings.blog_show_author %}
								<span class="article__author">{{ 'homepage.onboarding.blog_author' | t }}</span>
							{% endif %}

							<div class="rte article__grid-excerpt">
								{{ 'homepage.onboarding.blog_excerpt' | t }}
							</div>

							<ul class="list--inline article__meta-buttons">
								<li>
									<a href="{{ article.url }}" class="btn btn--tertiary btn--small">
										{{ 'blogs.article.read_more' | t }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endunless %}

		{% if section.settings.show_view_all %}
			<hr class="hr--invisible" aria-hidden="true"></hr>
			<div class="text-center">
				<a href="{{ blog.url }}" class="btn" aria-label="{{ 'blogs.article.view_all_blogs' | t }}">
					{{ 'blogs.article.view_all' | t }}
				</a>
			</div>
		{% endif %}
	</div>	
	<script type="text/javascript">
		$(document).ready(function() {
			// Section JS
			matchHeight('[mh-{{class}}]');
		})
	</script>
</div>




{% schema %}
{
	"name": {
		"de": "Blogposts",
		"en": "Blog posts",
		"es": "Entradas del blog",
		"fr": "Articles de blog",
		"it": "Articoli del blog",
		"ja": "ブログ記事",
		"nl": "Blogberichten",
		"pt-BR": "Posts do blog",
		"zh-CN": "博客文章",
		"zh-TW": "部落格文章"
	},
	"class": "index-section index-section--flush",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": {
				"de": "Titel",
				"en": "Heading",
				"es": "Título",
				"fr": "En-tête",
				"it": "Heading",
				"ja": "見出し",
				"nl": "Kop",
				"pt-BR": "Título",
				"zh-CN": "标题",
				"zh-TW": "標題"
			},
			"default": {
				"de": "Blogposts",
				"en": "Blog posts",
				"es": "Entradas del blog",
				"fr": "Articles de blog",
				"it": "Articoli del blog",
				"ja": "ブログ記事",
				"nl": "Blogberichten",
				"pt-BR": "Posts do blog",
				"zh-CN": "博客文章",
				"zh-TW": "部落格文章"
			}
		},
		{
			"id": "blog",
			"type": "blog",
			"label": {
				"de": "Blog",
				"en": "Blog",
				"es": "Blog",
				"fr": "Blog",
				"it": "Blog",
				"ja": "ブログ",
				"nl": "Blog",
				"pt-BR": "Blog",
				"zh-CN": "博客",
				"zh-TW": "部落格"
			}
		},
		{
			"type": "range",
			"id": "post_limit",
			"label": {
				"de": "Posts",
				"en": "Posts",
				"es": "Publicaciones",
				"fr": "Articles",
				"it": "Articoli",
				"ja": "投稿",
				"nl": "Berichten",
				"pt-BR": "Posts",
				"zh-CN": "文章",
				"zh-TW": "貼文"
			},
			"min": 3,
			"max": 12,
			"step": 3,
			"default": 3
		},
		{
			"type": "checkbox",
			"id": "blog_show_author",
			"label": {
				"de": "Autor anzeigen",
				"en": "Show author",
				"es": "Mostrar autor",
				"fr": "Afficher l'auteur",
				"it": "Mostra autore",
				"ja": "執筆者を表示する",
				"nl": "Auteur weergeven",
				"pt-BR": "Mostrar autor",
				"zh-CN": "显示作者",
				"zh-TW": "顯示作者"
			},
			"default": false
		},
		{
			"type": "checkbox",
			"id": "blog_show_date",
			"label": {
				"de": "Datum anzeigen",
				"en": "Show date",
				"es": "Mostrar fecha",
				"fr": "Afficher la date",
				"it": "Mostra data",
				"ja": "日付を表示する",
				"nl": "Datum weergeven",
				"pt-BR": "Exibir data",
				"zh-CN": "显示日期",
				"zh-TW": "顯示日期"
			},
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_view_all",
			"label": {
				"de": "'Alle anzeigen' Button anzeigen",
				"en": "Show 'View all' button",
				"es": "Mostrar el botón 'Ver todo'",
				"fr": "Afficher le bouton “Voir tout”",
				"it": "Mostra il pulsante \"Visualizza tutto\"",
				"ja": "「すべて表示」ボタンを表示する",
				"nl": "Knop 'Alles weergeven' weergeven",
				"pt-BR": "Exibir botão 'Ver tudo'",
				"zh-CN": "显示“查看全部”按钮",
				"zh-TW": "顯示「檢視全部」按鈕"
			},
			"default": false
		}
	],
	"presets": [
		{
			"name": {
				"de": "Blogposts",
				"en": "Blog posts",
				"es": "Entradas del blog",
				"fr": "Articles de blog",
				"it": "Articoli del blog",
				"ja": "ブログ記事",
				"nl": "Blogberichten",
				"pt-BR": "Posts do blog",
				"zh-CN": "博客文章",
				"zh-TW": "部落格文章"
			},
			"category": {
				"de": "Blog",
				"en": "Blog",
				"es": "Blog",
				"fr": "Blog",
				"it": "Blog",
				"ja": "ブログ",
				"nl": "Blog",
				"pt-BR": "Blog",
				"zh-CN": "博客",
				"zh-TW": "部落格"
			},
			"settings": {
				"blog": "News",
				"post_limit": 3
			}
		}
	]
}
{% endschema %}
