
{%- assign social_icons = false -%}

{%- if
	settings.social_twitter_link != blank
	or settings.social_facebook_link != blank
	or settings.social_pinterest_link != blank
	or settings.social_instagram_link != blank
	or settings.social_tumblr_link != blank
	or settings.social_snapchat_link != blank
	or settings.social_youtube_link != blank
	or settings.social_vimeo_link != blank
	or template.name == 'article'
	or template.name == 'blog'
-%}
	{%- assign social_icons = true -%}
{%- endif -%}


{% assign s = section.settings %}
{% capture class %}section_{{section.id}}{{template.handle}}{% endcapture %}

{% assign itmCSSs = '' %}
{% assign itmJSs = '' %}
{% assign custom = s.custom_html | raw %}
{% assign classCSS = class | prepend: '.' %}
{% assign cssLoop = custom | replace: '==', classCSS | replace: ';', ' !important;' %}


<footer class="site-footer {{class}}">
	<div class="page-width padding">
		<div class="grid text-center vert-middle">
			{% for block in section.blocks %}
				{% assign b = block.settings %}
				{% comment %}{% case b.width %}
				    {% when '12%' %}
				      	{%- assign width = 'medium-up--one-fifth large-up--one-sixth' -%}
				    {% when '16%' %}
				      	{%- assign width = 'medium-up--one-quarter large-up--one-sixth' -%}
				    {% when '20%' %}
				      	{%- assign width = 'medium-up--one-quarter large-up--one-fifth' -%}
				    {% when '25%' %}
				      	{%- assign width = 'medium-up--one-third large-up--one-quarter' -%}
				    {% when '33%' %}
				      	{%- assign width = 'medium-up--one-third large-up--one-third' -%}
				    {% when '50%' %}
				      	{%- assign width = ' large-up--one-half' -%}
				    {% when '66%' %}
				      	{%- assign width = ' large-up--two-thirds' -%}
				    {% when '75%' %}
				      	{%- assign width = ' large-up--three-quarters' -%}
				    {% when '100%' %}
				      	{%- assign width = 'one-whole' -%}
				{% endcase %}{% endcomment %}

				{% include 'width-creator',
					hide_mob: b.hide_mob,
					hide_tab: b.hide_tab,
					hide_desk: b.hide_desk,
					width_small: b.width_small,
					width_medium: b.width_medium,
					width_large: b.width_large
				%}


				{% case block.type %}
					{% when 'menu' %}
						<div class="grid__item text-left {{-grid_widths-}}  menu-section">
							{% if b.title != blank %}
								<div class="section-title footer-title">
									<h2 class="h5">{{ b.title }}</h2>
								</div>
							{% endif %}
							{% if b.title_group != blank %}
								<div class="section-title footer-title">
									<h2 class="h5">{{ b.title }}</h2>
								</div>
							{% endif %}
							{%- assign list = b.list -%}
							{% if linklists[list].links.size > 0 %}
								<div class="footer-linklist ">
									{% for link in linklists[list].links %}
									{% if link.url == "#" %}
									<div class="text"><strong class="site-nav__link footer-link">{{ link.title }}</strong></div>
									{% else %}
									<a class="site-nav__link footer-link" href="{%- include 'anchor-check', item: link.url -%}{{ link.url }}">{{ link.title }}</a>
									{% endif %}

									<p class="text">
										{% for sub_link in link.links %}
											{% if sub_link.url == "#" %}
												<span class="site-nav__link footer-link">{{ sub_link.title }}</span>
											{% else %}
												<a class="site-nav__link footer-link" href="{%- include 'anchor-check', item: sub_link.url -%}{{ sub_link.url }}">{{ sub_link.title }}</a>
											{% endif %}
										 	{% for sub_sub_link in sub_link.links %}
										 		{% if sub_sub_link.url == "#" %}

												 <span class="site-nav__link footer-link">{{ sub_link.title }}</span>
												{% else %}
												<a class="site-nav__link footer-link" href="{%- include 'anchor-check', item: sub_link.url -%}{{ sub_link.url }}">{{ sub_link.title }}</a>
												{% endif %}
										 	{% endfor %}
									 	{% endfor %}
									</p>
									{% endfor %}
								</div>
							{% endif %}


							{% if b.title != blank %}
								<div class="section-title footer-title">
									<h2 class="h5">{{ b.title_2 }}</h2>
								</div>
							{% endif %}
							{% if b.title_group != blank %}
								<div class="section-title footer-title">
									<h2 class="h5">{{ b.title_group_2 }}</h2>
								</div>
							{% endif %}
							{%- assign list = b.list_2 -%}
							{% if linklists[list].links.size > 0 %}
								<div class="footer-linklist ">
									{% for link in linklists[list].links %}
										{% if link.url == "#" %}
										<span class="site-nav__link footer-link">{{ link.title }}</span>
										{% else %}
										<a class="site-nav__link footer-link" href="{%- include 'anchor-check', item: link.url -%}{{ link.url }}">{{ link.title }}</a>
										{% endif %}
									{% endfor %}
								</div>
							{% endif %}
						</div>
					{% when 'text' %}
						<div class="grid__item text-left {{-grid_widths-}}  text-section">
							{% if b.title != blank %}
								<div class="section-title footer-title">
									<h2 class="h5">{{ b.title }}</h2>
								</div>
							{% endif %}
							<div class="text">
								{{b.text}}
							</div>
						</div>
					{% when 'newsletter' %}
						<div class="grid__item text-left {{-grid_widths-}}  footer-newsletter-section">
							{% if b.title != blank %}
								<div class="section-title footer-title">
									<h2 class="h5">{{ b.title }}</h2>
								</div>
							{% endif %}

							<div class="info">
								{% for i in (1..5) %}
									{% capture lab %}soc_label_{{i}}{% endcapture %}
									{% capture lnk %}soc_link_{{i}}{% endcapture %}
									{% if b[lab] != blank and b[lnk] != blank %}
										<a class="site-nav__link" href="{{b[lnk]}}">{{b[lab]}}</a>
									{% endif %}
								{% endfor %}
							</div>

							<div class="site-footer__newsletter {% if section.blocks.size == 1 %} site-footer__single-block--centered{% endif %}">
								{%- assign formId = 'ContactFooter' -%}
								{% form 'customer', id: formId, novalidate: 'novalidate' %}
									{%- if form.posted_successfully? -%}
										<p class="form-message form-message--success" tabindex="-1" data-form-status>
											{{ 'general.newsletter_form.confirmation' | t }}
										</p>
									{%- endif -%}
									<input type="hidden" name="contact[tags]" value="newsletter">
									<div class="input-group {% if form.errors %} input-group--error{% endif %}">
										<input type="email"
											name="contact[email]"
											id="{{ formId }}-email"
											class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
											value="{{ form.email }}"
											placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
											aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
											aria-required="true"
											required
											autocorrect="off"
											autocapitalize="off"
											{% if form.errors %}
												aria-invalid="true"
												aria-describedby="{{ formId }}-email-error"
												data-form-status
											{% endif %}>
										<span class="input-group__btn">
											<button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
												<span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
											</button>
										</span>
									</div>
									{% if form.errors contains 'email' %}
										<span id="{{ formId }}-email-error" class="input-error-message">
											{% include 'icon-error' %} {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
										</span>
									{% endif %}
								{% endform %}
							</div>


						</div>
					{% when 'social' %}
						<div class="grid__item text-left {{-grid_widths-}}  social-section">
							{% if b.title != blank %}
								<div class="section-title footer-title">
									<h2 class="h5">{{ b.title }}</h2>
								</div>
							{% endif %}
							{% include 'social-icons' %}

							{% if b.extra_link != blank %}
								{% assign el = 'a' %}
								{% assign el_attr = b.extra_link | prepend: ' href="' | append: '" ' %}
							{% else %}
								{% assign el = 'div' %}
							{% endif %}
							<{{el}} class="extra-img" {{el_attr}}>
							{% if b.extra_image != blank %}
								<img src="{{ b.extra_image | img_url: 'large' }}">
							{% elsif b.extra_image_svg != blank %}
								<img src="{{ b.extra_image_svg }}">
							{% endif %}
							</{{el}}>
						</div>
					{% when 'logo' %}
						<div class="grid__item  {{-grid_widths-}}  logo-section">
							<div class="">
								{% comment %}{% capture site_title %}{% if template.name == 'index' %}<h2 class="visually-hidden" itemscope itemtype="http://schema.org/Organization">{{ shop.name }}</h2>{% else %}<div class="h1 visually-hidden" itemscope itemtype="http://schema.org/Organization">{{ shop.name }}</div>{% endif %}{% endcapture %}{% endcomment %}
								{% if b.logo != blank %}
									{{ site_title }}
									{% comment %}<div 
										class="bg_image contain {{two_imgs}} lazyload"
										data-bgset="{% include 'bgset', image: b.logo %}"
										data-sizes="auto"
			 							data-parent-fit="cover">
			 						</div>{% endcomment %}
			 						{% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
							        {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
							        {%- assign img_url = b.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
							        {% include 'image-style' with image: b.logo, width: 545, height: 545, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
							        <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
							          <div style="padding-top:{{ 1 | divided_by: b.logo.aspect_ratio | times: 100}}%;">
							            <img id="{{ img_id }}"
							                 class="feature-row__image lazyload"
							                 src="{{ b.logo | img_url: '200x200' }}"
							                 data-src="{{ img_url }}"
							                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
							                 data-aspectratio="{{ b.logo.aspect_ratio }}"
							                 data-sizes="auto"
							                 alt="{{ b.logo.alt | escape }}">
							          </div>
							        </div>

							        <noscript>
							          {{ b.logo | img_url: '600x600', scale: 2 | img_tag: b.logo.alt, 'feature-row__image' }}
							        </noscript>
								{% elsif b.logo_svg != blank %}
									{{ site_title }}
									{% capture image_size %}{{ b.logo_max_width }}px{% endcapture %}
									<img src="{{ b.logo_svg }}"
											 alt="{{ shop.name }}"
											 style="max-width: {{ image_size }}"
											 itemprop="logo">
								{% else %}
									<h2 itemscope itemtype="http://schema.org/Organization">{{ shop.name }}</h2>
								{% endif %}
							</div>

							{% if b.show_social == true %}
								{% include 'social-icons' %}
							{% endif %}
						</div>
				{% endcase %}
			{% endfor %}
		</div>

	</div>
	{% comment %}<div class="copyright-section border-top text-center">
		<div class="page-width">
			<div>
				<p class="headline-font">
					{{ shop.name }} &copy; {{ 'now' | date: "%Y" }}. All Rights Reserved. {{ powered_by_link }}.
					{%- assign footer_linklist = s.footer_linklist -%}
					{% if linklists[footer_linklist].links.size > 0 %}
						<span class="copyright-links">
							{% for link in linklists[footer_linklist].links %}
								 |   <a href="{{ link.url }}">{{ link.title }}</a>
							{% endfor %}
						</span>
					{% endif %}
				</p>
				{% if s.show_payment_icons %}
					{% unless shop.enabled_payment_types == empty %}
						{%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}
						<span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
						<div class="payment-icons">
							{% for type in shop.enabled_payment_types %}
								{% if payment_icons_available contains type %}
									<span>
										{%- assign icon_name = type | prepend: 'icon-' -%}
										{% include icon_name %}
										<span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
									</span>
								{% endif %}
							{% endfor %}
						</div>
					{% endunless %}
				{% endif %}
			</div>
		</div>
	</div>{% endcomment %}
	<style type="text/css">
		.site-footer {
			background-color: {{ section.settings.color_footer_bg }};
		}

		.site-footer a:not(.social-link),
		.site-footer h2,
		.site-footer .input-group,
		.site-footer .btn,
		.site-footer p {
			color: {{s.txt_color}} !important;
		}

		.site-footer ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  	color: {{s.txt_color}} !important;
		}
		.site-footer ::-moz-placeholder { /* Firefox 19+ */
		  	color: {{s.txt_color}} !important;
		}
		.site-footer :-ms-input-placeholder { /* IE 10+ */
		  	color: {{s.txt_color}} !important;
		}
		.site-footer :-moz-placeholder { /* Firefox 18- */
		  	color: {{s.txt_color}} !important;
		}
		.site-footer .input-group {
			border-bottom-color: {{s.txt_color }} !important;
		}
		.site-footer a:not(.social-link):hover {
			opacity: 0.75;
		}
		/* Custom CSS */
		{{cssLoop}}
	</style>

</footer>



{% schema %}
	{
		"name": "Footer",
		"settings": [
			{
				"type": "color",
				"id": "txt_color",
				"label": "Text Color",
				"default": "#ffffff"
			},
			{
				"type": "color",
				"id": "color_footer_bg",
				"label": "Background",
				"default": "#F5F5F5"
			},
			{
				"type": "link_list",
				"id": "footer_linklist",
				"label": "Copyright Menu",
				"default": "footer"
			},
			{
				"type": "checkbox",
				"id": "show_payment_icons",
				"label": "Show payment icons",
				"default": false
			},
	        {
	            "type":"header",
	            "content": "Custom CSS Rules"
	        },
	        {
	            "type":"paragraph",
	            "content": "Use '==' to reference this block's parent container, that way the css you use only applies to this container."
	        },
	        {
	            "type":"paragraph",
	            "content": "The example below applies font size to only the h2 element in the current block's container."
	        },
	        {
	            "type":"paragraph",
	            "content": "'== h2 { font-size: 20px; } '"
	        },
	        {
	            "type": "html",
	            "id": "custom_html",
	            "label": "Custom CSS"
	        }
		],
		"max_blocks": 6,
		"blocks": [
			{
				"type": "menu",
				"name": "Menu",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Section Title"
					},
					{
						"type": "link_list",
						"id": "list",
						"label": "Menu"
					},
	                {
	                    "type": "header",
	                    "content": "Grid Settings"
	                },
	                {
						"type": "checkbox",
						"id": "hide_desk",
						"label": "Hide Desktop",
						"default": false
					},
	                {
					    "type": "select",
					    "id": "width_large",
					    "label": "Desktop Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					},
					{
						"type": "checkbox",
						"id": "hide_tab",
						"label": "Hide Tablet",
						"default": false
					},
					{
					    "type": "select",
					    "id": "width_medium",
					    "label": "Tablet Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					},
					{
						"type": "checkbox",
						"id": "hide_mob",
						"label": "Hide Mobile",
						"default": false
					},
					{
					    "type": "select",
					    "id": "width_small",
					    "label": "Mobile Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					}
				]
			},
			{
				"type": "text",
				"name": "Text",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Section Title"
					},
					{
						"type": "richtext",
						"id": "text",
						"label": "Text"
					},
	                {
	                    "type": "header",
	                    "content": "Grid Settings"
	                },
	                {
						"type": "checkbox",
						"id": "hide_desk",
						"label": "Hide Desktop",
						"default": false
					},
	                {
					    "type": "select",
					    "id": "width_large",
					    "label": "Desktop Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					},
					{
						"type": "checkbox",
						"id": "hide_tab",
						"label": "Hide Tablet",
						"default": false
					},
					{
					    "type": "select",
					    "id": "width_medium",
					    "label": "Tablet Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					},
					{
						"type": "checkbox",
						"id": "hide_mob",
						"label": "Hide Mobile",
						"default": false
					},
					{
					    "type": "select",
					    "id": "width_small",
					    "label": "Mobile Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					}
				]
			},
			{
				"type": "newsletter",
				"name": "Newsletter",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Section Title"
					},
					{
						"type": "text",
						"id": "soc_label_1",
						"label": "Social Label 1"
					},
					{
						"type": "text",
						"id": "soc_link_1",
						"label": "Social Link 1"
					},
					{
						"type": "text",
						"id": "soc_label_2",
						"label": "Social Label 2"
					},
					{
						"type": "text",
						"id": "soc_link_2",
						"label": "Social Link 2"
					},
					{
						"type": "text",
						"id": "soc_label_3",
						"label": "Social Label 3"
					},
					{
						"type": "text",
						"id": "soc_link_3",
						"label": "Social Link 3"
					},
					{
						"type": "text",
						"id": "soc_label_4",
						"label": "Social Label 4"
					},
					{
						"type": "text",
						"id": "soc_link_4",
						"label": "Social Link 4"
					},
					{
						"type": "text",
						"id": "soc_label_5",
						"label": "Social Label 5"
					},
					{
						"type": "text",
						"id": "soc_link_5",
						"label": "Social Link 5"
					},
	                {
	                    "type": "header",
	                    "content": "Grid Settings"
	                },
	                {
						"type": "checkbox",
						"id": "hide_desk",
						"label": "Hide Desktop",
						"default": false
					},
	                {
					    "type": "select",
					    "id": "width_large",
					    "label": "Desktop Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					},
					{
						"type": "checkbox",
						"id": "hide_tab",
						"label": "Hide Tablet",
						"default": false
					},
					{
					    "type": "select",
					    "id": "width_medium",
					    "label": "Tablet Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					},
					{
						"type": "checkbox",
						"id": "hide_mob",
						"label": "Hide Mobile",
						"default": false
					},
					{
					    "type": "select",
					    "id": "width_small",
					    "label": "Mobile Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					}
				]
			},
			{
				"type": "social",
				"name": "Social",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Section Title"
					},
					{
						"type": "image_picker",
						"id": "extra_image",
						"label": "Extra image (optional)"
					},
					{
						"type": "text",
						"id": "extra_image_svg",
						"label": "Extra image (if SVG)"
					},
					{
						"type": "url",
						"id": "extra_url",
						"label": "Extra url (optional)"
					},
	                {
	                    "type": "header",
	                    "content": "Grid Settings"
	                },
	                {
						"type": "checkbox",
						"id": "hide_desk",
						"label": "Hide Desktop",
						"default": false
					},
	                {
					    "type": "select",
					    "id": "width_large",
					    "label": "Desktop Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					},
					{
						"type": "checkbox",
						"id": "hide_tab",
						"label": "Hide Tablet",
						"default": false
					},
					{
					    "type": "select",
					    "id": "width_medium",
					    "label": "Tablet Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					},
					{
						"type": "checkbox",
						"id": "hide_mob",
						"label": "Hide Mobile",
						"default": false
					},
					{
					    "type": "select",
					    "id": "width_small",
					    "label": "Mobile Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					}
				]
			},
			{
				"type": "logo",
				"name": "Logo",
				"settings": [
					{
						"type": "image_picker",
						"id": "logo",
						"label": "Logo Image"
					},
					{
						"type": "text",
						"id": "logo_svg",
						"label": "Logo Image(if .SVG)"
					},
					{
						"type": "range",
						"id": "logo_max_width",
						"min": 50,
						"max": 450,
						"step": 10,
						"unit": "px",
						"label": "Custom logo width",
						"default": 250
					},
					{
						"type": "checkbox",
						"id": "show_social",
						"label": "Show social icons"
					},
	                {
	                    "type": "header",
	                    "content": "Grid Settings"
	                },
	                {
						"type": "checkbox",
						"id": "hide_desk",
						"label": "Hide Desktop",
						"default": false
					},
	                {
					    "type": "select",
					    "id": "width_large",
					    "label": "Desktop Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					},
					{
						"type": "checkbox",
						"id": "hide_tab",
						"label": "Hide Tablet",
						"default": false
					},
					{
					    "type": "select",
					    "id": "width_medium",
					    "label": "Tablet Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					},
					{
						"type": "checkbox",
						"id": "hide_mob",
						"label": "Hide Mobile",
						"default": false
					},
					{
					    "type": "select",
					    "id": "width_small",
					    "label": "Mobile Width",
					    "default": "100%",
					    "options": [
					        {
					            "value": "8%",
					            "label": "8% (1/12)"
					        },
					        {
					            "value": "10%",
					            "label": "10% (1/10)"
					        },
					        {
					            "value": "16%",
					            "label": "16% (2/12)"
					        },
					        {
					            "value": "20%",
					            "label": "20% (2/10)"
					        },
					        {
					            "value": "25%",
					            "label": "25% (3/12)"
					        },
					        {
					            "value": "30%",
					            "label": "30% (3/10)"
					        },
					        {
					            "value": "33%",
					            "label": "33% (4/12)"
					        },
					        {
					            "value": "40%",
					            "label": "40% (4/10)"
					        },
					        {
					            "value": "41%",
					            "label": "41% (5/12)"
					        },
					        {
					            "value": "50%",
					            "label": "50% (6/12)"
					        },
					        {
					            "value": "58%",
					            "label": "58% (7/12)"
					        },
					        {
					            "value": "60%",
					            "label": "60% (6/10)"
					        },
					        {
					            "value": "66%",
					            "label": "66% (8/12)"
					        },
					        {
					            "value": "70%",
					            "label": "70% (7/10)"
					        },
					        {
					            "value": "75%",
					            "label": "75% (9/12)"
					        },
					        {
					            "value": "80%",
					            "label": "80% (8/10)"
					        },
					        {
					            "value": "83%",
					            "label": "83% (10/12)"
					        },
					        {
					            "value": "90%",
					            "label": "90% (9/10)"
					        },
					        {
					            "value": "91%",
					            "label": "91% (11/12)"
					        },
					        {
					            "value": "100%",
					            "label": "100%"
					        }
					    ]
					}
				]
			}
		]
	}

{% endschema %}
